* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 60%;
  height: auto;
  padding: 20px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  list-style: none;
  color: blue;
  font-size: 20px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  color: red;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainContainer h1 {
  font-size: 6em;
  color: blueviolet;
  margin-bottom: 30px;
}

.mainContainer p {
  max-width: 800px;
  padding: 0 20px;
  line-height: 140%;
  font-style: italic;
  text-align: justify;
}

.portfolio {
  width: 100%;
}

.portfolio h1 {
  font-size: 3em;
  color: blueviolet;
  margin: 30px 0;
  text-align: center;
}

.portfolio .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio img {
  width: 430px;
  height: 300px;
  margin: 5px;
}

form {
  margin: 4rem auto 0;
  border: 2px solid #552a7c;
  border-radius: 5px;
  padding: 20px;
  max-width: 300px;
  color: #783daf;
}

form input {
  margin-bottom: 5px;
}

form .mainInput input {
  width: 100%;
  padding: 5px;
}

form .inputTitle {
  color: #371c50;
  font-weight: 700;
}

form .buttonInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
  cursor: pointer;
}

form .buttonInputs .genderInput {
  width: 50%;
}

form .buttonInputs .petInput {
  width: 50%;
}

form .regButton {
  width: 100%;
  padding: 10px;
  background: #783daf;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 40px 0;
}

.robots .head,
.robots .left_arm,
.robots .torso,
.robots .right_arm,
.robots .left_leg,
.robots .right_leg {
  background-color: #5f93e8;
}

.robots .head {
  width: 200px;
  margin: 0 auto;
  height: 150px;
  border-radius: 200px 200px 0 0;
  margin-bottom: 10px;
}

.robots .head:hover {
  width: 300px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.robots .head .eyes .left_eye,
.robots .head .eyes .right_eye {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: white;
}

.robots .head .eyes .left_eye {
  position: relative;
  top: 100px;
  left: 40px;
}

.robots .head .eyes .right_eye {
  position: relative;
  top: 100px;
  left: 120px;
}

.robots .upper_body {
  width: 300px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.robots .upper_body .left_arm,
.robots .upper_body .right_arm {
  width: 40px;
  height: 125px;
  border-radius: 100px;
}

.robots .upper_body .left_arm {
  margin-right: 10px;
}

.robots .upper_body .right_arm {
  margin-left: 10px;
}

.robots .upper_body .torso {
  width: 200px;
  height: 200px;
  border-radius: 0 0 50px 50px;
}

.robots .lower_body {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.robots .lower_body .left_leg,
.robots .lower_body .right_leg {
  width: 40px;
  height: 120px;
  border-radius: 0 0 100px 100px;
}

.robots .lower_body .left_leg {
  margin-left: 45px;
}

.robots .lower_body .left_leg:hover {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.robots .lower_body .right_leg {
  margin-left: 30px;
}
/*# sourceMappingURL=style.css.map */