* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  width: 100%;
  height: 100vh;
}
h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 5rem;
}
.inputContainer {
  display: flex;
  justify-content: center;
  input {
    padding: 5px;
    margin-right: 5px;
    width: 250px;
    font-size: 1.5rem;
  }
  button {
    cursor: pointer;
    padding: 5px 10px;
  }
}

ul {
  li {
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    &:hover {
      color: red;
      // text-decoration: line-through;
    }
  }
  .done {
    display: flex;
    background: red;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
  }
}
