body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%);
  font-size: 1.1rem;
  text-transform: uppercase;
}

button.btn-warning {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-transform: uppercase;
  background-color: orangered;
}

img {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
